.cat-strip {
  width: 100%;
  overflow: hidden;
  background: #eef9f0;
  padding: 12px 0;
}

.cat-marquee {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll 18s linear infinite;
}

.cat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.cat-icon {
  width: 72px !important;
  height: 72px !important;
  background: #2fa573 !important;
}

.cat-label {
  margin-top: 6px;
  font-weight: 700;
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.nav-item {
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
